{{!-- đi đến news và mang theo query parameters --}}
<form class="mt-5" method="POST"> 
    <div class="mb-3 form-group">
        <label for="search-form" class="form-label">Từ khóa</label>
        <input type="text" name="q" class="form-control" id="search-form" placeholder="Nhập Từ khóa...">
    </div>
    <div class="mb-3 form-group">
        <label for="gender-input">Giới tính</label>
        <select name="gender" class="form-control" id="gender-input">
            <option value="male">Nam</option>
            <option value="female">Nu</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Nộp</button>
</form>